<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ODONTOGENDA</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        body {
            background-color: #ffffff;
            color: #333;
        }

        .navbar-brand {
            font-weight: bold;
            font-size: 1.5em;
        }

        footer {
            padding: 1em;
            background-color: #007bff;
            color: white;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">ODONTOGENDA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Consultas/Index">Consultas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Consultas/Create">Nova Consulta</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <footer>
        <p>© 2024 ODONTOGENDA. Todos os direitos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpEGrT7P/+fS6fRt5S1HTVZ5xTt2C4vjYqKLUAYMW3+4G5QH4LT1gDFg" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" integrity="sha384-qL4q4LGz14QtB4uSXY0XAaywClCI0lV6z8UphhgC65dDbYYfQ7h4FY1EwcFnkKfm" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgjbDbD+7MLLu9lGp/sSxT6qAA/8Kxf3ymRaV0N1KwQ7P0p6L" crossorigin="anonymous"></script>
</body>
</html>
